<div class="lrg-container spaces">
    <div class="row med-spaces">
        <div class="col-md-6">
            <span class="zoom" id="floorPlansZoom">
                <img class="img-fluid" src="{{ site.baseurl }}/img/floor-plan/level-1.jpg" alt="Floor plan example 1">
            </span>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 med-spaces">
                    <h3 class="bold red">First Floor</h3>
                    <hr/>
                </div>
                <div class="col-3">
                    <div class="nav flex-column nav-pills floor-plan-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-cafe-tab" data-toggle="pill" href="#v-pills-cafe" role="tab" aria-controls="v-pills-cafe" aria-selected="true"><div class="tabs-box cafe"></div> Cafe</a>
                        <a class="nav-link" id="v-pills-dining-tab" data-toggle="pill" href="#v-pills-dining" role="tab" aria-controls="v-pills-dining" aria-selected="false"><div class="tabs-box salmon"></div> Dining Hall</a>
                        <a class="nav-link" id="v-pills-huddle-tab" data-toggle="pill" href="#v-pills-huddle" role="tab" aria-controls="v-pills-huddle" aria-selected="false"><div class="tabs-box huddle"></div> Huddle Rooms</a>
                        <a class="nav-link" id="v-pills-offices-tab" data-toggle="pill" href="#v-pills-offices" role="tab" aria-controls="v-pills-offices" aria-selected="false"><div class="tabs-box light-blue"></div> Private Offices</a>
                        <a class="nav-link" id="v-pills-kitchen-tab" data-toggle="pill" href="#v-pills-kitchen" role="tab" aria-controls="v-pills-kitchen" aria-selected="false"><div class="tabs-box brown"></div> Kitchen</a>
                        <a class="nav-link" id="v-pills-reception-tab" data-toggle="pill" href="#v-pills-reception" role="tab" aria-controls="v-pills-reception" aria-selected="false"><div class="tabs-box light-purple"></div> Welcome Foyer</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-cafe" role="tabpanel" aria-labelledby="v-pills-cafe-tab">
                            <p><strong>Cafe</strong><br>An external facing café will serve the broader public and will also allow students a place to study, meet and socialize. The venue will also provide a great resource to neighboring Greek houses, who at present do not have food service in the immediate area.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-dining" role="tabpanel" aria-labelledby="v-pills-dining-tab">
                            <p><strong>Dining Hall / Recreational Space</strong><br>The heart of the new Maryland Hillel is a large multifaceted hall. The hall will showcase and accommodate Hillel’s new and innovative dining program – featuring three restaurant store fronts. Part of this hall will be dedicated to recreation. The recreational space will be a significant area where students can lounge on a sofa, chat with a friend, or do some work in a comfy chair. The recreational space will incorporate mixed-use seating, perfect for the varied needs of students.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-huddle" role="tabpanel" aria-labelledby="v-pills-huddle-tab">
                            <p><strong>Huddle Rooms</strong><br>A variety of glass meeting rooms will be provisioned throughout the new Maryland Hillel building. Students will be able to reserve these for meetings, study or for a private meal with friends. The rooms will all be equipped with comprehensive audio-visual equipment. Hillel will utilize these spaces for classes and study groups.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-offices" role="tabpanel" aria-labelledby="v-pills-offices-tab">
                            <p><strong>Private Offices</strong><br>Senior members of Maryland Hillel's team require private space with which to meet with students, communal leaders, and conduct the critical business of the organization. Donors are sought to assist in creating these private offices.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-kitchen" role="tabpanel" aria-labelledby="v-pills-kitchen-tab">
                            <p><strong>Demonstration Kitchen</strong><br>Hillel is proud to serve as the convener of Jewish life on campus for students from a diversity of Jewish backgrounds and experiences. The organization strives to foster a sense of Jewish communal unity and family. Food is an incredible device to promote a shared experience and allow for the formation of a joint narrative. The new Maryland Hillel will usher food-related programming to the heart of Maryland Hillel's work with the development of a teaching/demonstration kitchen. Students might partake in a challah baking workshop or Israeli cooking evening.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-reception" role="tabpanel" aria-labelledby="v-pills-reception-tab">
                            <p><strong>Welcome Foyer</strong><br>The new Maryland Hillel facility features huge glass windows, allowing sunlight to bathe the interior. Among the most prominent spaces is the large welcome area. This space offers direct access to the coffee shop, program staff offices, the massive teaching staircase (a central feature), and the food hall. As Hillel seeks to create a welcoming and inviting facility, this focal area will be alive with activity and is an important part of our vision.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row med-spaces">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 med-spaces">
                    <h3 class="bold red">Second Floor</h3>
                    <hr/>
                </div>
                <div class="col-4">
                    <div class="nav flex-column nav-pills floor-plan-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-lounge-tab" data-toggle="pill" href="#v-pills-lounge" role="tab" aria-controls="v-pills-lounge" aria-selected="true"><div class="tabs-box green"></div> Student Lounge</a>
                        <a class="nav-link" id="v-pills-multi-tab" data-toggle="pill" href="#v-pills-multi" role="tab" aria-controls="v-pills-multi" aria-selected="false"><div class="tabs-box orange"></div> Multipurpose Rooms</a>
                        <a class="nav-link" id="v-pills-huddle2-tab" data-toggle="pill" href="#v-pills-huddle2" role="tab" aria-controls="v-pills-huddle2" aria-selected="false"><div class="tabs-box yellow"></div> Huddle Rooms</a>
                        <a class="nav-link" id="v-pills-center-tab" data-toggle="pill" href="#v-pills-center" role="tab" aria-controls="v-pills-center" aria-selected="false"><div class="tabs-box tan"></div> Jewish Learning Center</a>
                        <a class="nav-link" id="v-pills-offices2-tab" data-toggle="pill" href="#v-pills-offices2" role="tab" aria-controls="v-pills-offices2" aria-selected="false"><div class="tabs-box light-blue"></div> Offices</a>
                        <a class="nav-link" id="v-pills-suites-tab" data-toggle="pill" href="#v-pills-suites" role="tab" aria-controls="v-pills-suites" aria-selected="false"><div class="tabs-box light-green"></div> Guest Suites</a>
                        <a class="nav-link" id="v-pills-stairs-tab" data-toggle="pill" href="#v-pills-stairs" role="tab" aria-controls="v-pills-stairs" aria-selected="false"><div class="tabs-box light-purple"></div> Learning Staircase</a>
                        <a class="nav-link" id="v-pills-social-tab" data-toggle="pill" href="#v-pills-social" role="tab" aria-controls="v-pills-social" aria-selected="false"><div class="tabs-box blue"></div> Social Area</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-lounge" role="tabpanel" aria-labelledby="v-pills-lounge-tab">
                            <p><strong>Student Lounge</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore debitis accusamus quia ab, ut dolorem facere delectus impedit, numquam eos nemo, voluptatem rem doloribus neque provident odit at doloremque.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore debitis accusamus quia ab, ut dolorem facere delectus impedit, numquam eos nemo, voluptatem rem doloribus neque provident odit at doloremque.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-multi" role="tabpanel" aria-labelledby="v-pills-multi-tab">
                            <p><strong>Multipurpose Rooms</strong><br>A guest lecture, concert, movie screening or prayer service? Hillel’s new and varied multipurpose rooms are at the core of accommodating Hillel’s diverse student programming needs. It is not uncommon for Hillel’s current building to host a meal for some 200 students, an Israeli dance workshop, a guest lecture and challah baking all at the same time. The new space will ensure Hillel can facilitate these experiences, without it impeding their quality.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-huddle2" role="tabpanel" aria-labelledby="v-pills-huddle2-tab">
                            <p><strong>Huddle Rooms</strong><br>A variety of glass meeting rooms will be provisioned throughout the new Maryland Hillel building. Students will be able to reserve these for meetings, study or for a private meal with friends. The rooms will all be equipped with comprehensive audio-visual equipment. Hillel will utilize these spaces for classes and study groups.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-center" role="tabpanel" aria-labelledby="v-pills-center-tab">
                            <p><strong>Jewish Learning Center</strong><br>A beautiful Beit Midrash / Center for Jewish Learning will be the locus of Hillel's formal Jewish educational programs. Shiurim, guest lectures and chevrutot will all occur within this space.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-offices2" role="tabpanel" aria-labelledby="v-pills-offices2-tab">
                            <p><strong>Offices</strong><br>Senior members of Maryland Hillel's team require private space with which to meet with students, communal leaders, and conduct the critical business of the organization. Donors are sought to assist in creating these private offices.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-suites" role="tabpanel" aria-labelledby="v-pills-suites-tab">
                            <p><strong>Guest Suites</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus repellat incidunt quod enim distinctio officia, cupiditate laudantium placeat id veniam unde aut officiis expedita tenetur provident assumenda eveniet, cum dolorum.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-stairs" role="tabpanel" aria-labelledby="v-pills-stairs-tab">
                            <p><strong>Learning Staircase</strong><br>The Learning Staircase is the central feature of the new Maryland Hillel building. The entire staircase is visible from the street and will offer students both seating space for lectures and movie screenings, and informal space to sit and chat with friends. Consider this space a mix between an open classroom and a social convening area.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
                            <p><strong>Social Area</strong><br>A large open space on the second floor will allow students to mingle and socialize. Parties, concerts and presentations will also take place in this area. The social area is the area into which all of the multi-purpose rooms exit. It is a high-profile meeting space.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span class="zoom" id="floorPlansZoom2">
                <img class="img-fluid" src="{{ site.baseurl }}/img/floor-plan/level-2.jpg" alt="Floor plan example 2">
            </span>
        </div>
    </div>
</div>