<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand uppercase bold mt-3 mb-3" href="#">Quantum at Maryland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse relative" id="navbarSupportedContent">
        <div class="navbar-nav-right">
            <ul class="navbar-nav mr-auto uppercase d-flex align-items-center">
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#about">About Quantum at Maryland</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#quantumPromise">The Quantum Promise</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#centersInstitutes">Centers and Institutes</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#quantumAlliance">The Quantum Alliance</a></li>
                <li class="nav-item"><a class="nav-link give-btn white" href="{{ site.baseurl }}/#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>