<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand uppercase bold mt-3 mb-3" href="#">Quantum at Maryland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse relative" id="navbarSupportedContent">
        <div class="navbar-nav-right">
            <ul class="navbar-nav mr-auto uppercase">
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#renderings">Renderings</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#floorplans">Floor Plans</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#naming">Naming Opportunities</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#paver">Alumni Paver</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#support">Support Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="give-btn" href="/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>