<div class="hero-wrapper">

    <div id="hero" class="header-banner overlay dark" style="background-image:url('{{ site.baseurl }}/img/banner.jpg');" role="img" aria-label="website hero banner image"></div>

    <div class="container h-textarea">
        <div class="row">
            <div class="col-lg-8 offset-md-2 columns h-textarea-inner">
                <div class="textarea-intro text-shadow">
                    <h1 class="bold white fadeInDown">A Hub for Quantum Science and Technology</h1>
                    <hr class="hr-lrg fadeInDown2">
                    <p class="white fadeInDown3">The University of Maryland is a powerhouse of discovery, with decades of experience advancing a field that will help define our nation’s—and the world’s—future.</p>
                    <a class="btn dark fadeInDown3" href="#">Go Deeper</a>
                </div>
            </div>
        </div>
    </div>
    <div class="local-scroll come-in">
        <a href="#main" id="main" class="scroll-down come-in"><i class="scroll-down-icon"></i><span>Scroll Down</span></a>
    </div>
    <!-- <div class="video-preview">
        <a class="white uppercase pointer letter-spacing slide-link" data-toggle="modal" data-target="#exampleModal" href=" ">Watch the full video <i class="fas fa-play-circle"></i></a>
    </div> -->
</div>

