/* --------------------------------

Hero Banner Styles

-------------------------------- */

.hero-wrapper {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    background: fixed;
    // height: -moz-calc(100vh - 60px);
    // height: -webkit-calc(100vh - 60px);
    // height: -o-calc(100vh - 60px);
    // height: calc(100vh - 60px);
    // margin-top: 60px;
    
    video {
        height: 100vh;    
    }

    &.half-size {
        height: 75vh !important;

        // #hero {
        //     top: -200px;
        //     clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        // }
    }

    .header-banner {
        /*height: 600px;*/
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-position: 50% 50%\9 !important;
        background-size: cover;

        &.overlay {

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /*z-index: 2;*/
                background: -webkit-linear-gradient(to bottom, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(51, 51, 51, 0)));
                background: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
                background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
                content: '';
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
        }

        &.dark { 

            &::after {
                position: absolute;
                background: rgba(0, 0, 0, 0.2); 
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    #hero {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background-color: #666666;
    }

    &.overlay {

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*z-index: 2;*/
            background: -webkit-linear-gradient(to bottom, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.5)), to(rgba(51, 51, 51, 0)));
            background: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
            background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 30%);
            content: '';
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
    }
    &.dark { background-color: rgba(0, 0, 0, 0.2); }
}

.h-textarea {
    /*height: 100%;*/
    position: relative;
    /*top: 50px;*/
    z-index: 1;
    height: 100vh;

    @include breakpoint(screen-xl) {
        
    }
    @include breakpoint(screen-lg) {
        top: 25px;
    }
    @include breakpoint(screen-sm) {
        top: 0;

    }
    @include breakpoint(screen-sm) {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    @include breakpoint(screen-xs) {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .h-textarea-inner {
        display: table;
        position: relative;
        height: 100%;
        width: 100%;
        top: 25vh;

        &.colleges { top: 225px; }

        @include breakpoint(screen-lg) {
            top: 150px;
            padding-left: 3em;
        }

        @include breakpoint(screen-md) {
            top: 175px;
        }
        @include breakpoint(screen-sm) {
            /*top: 50%;*/
            padding-left: 3em;
        }
    }

    .textarea-intro {
        padding-bottom: 3rem;
        display: table-cell;
        vertical-align: middle;

        @include breakpoint(screen-sm) {
            position: relative;
        }
        @include breakpoint(screen-xs) {
            position: relative;
        }


        a, .button {
            margin: 1rem 0;
        }

        h4 {
            max-width: 700px;
        }

        h1 {
            font-size: 55px;
            line-height: 55px;
            color: #fff;
        }

        hr {
            width: 250px;
            margin-left: 0;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        p {
            font-size: 26px;
            line-height: 34px;
        }

        .btn {
            border: 2px solid $umd_yellow;
            color: $umd_yellow !important;
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0.3);
            font-weight: bold;
            letter-spacing: 1px;

            &:hover, &:focus {
                background-color: $umd_yellow;
                color: $body-color !important;
            }
        }

        .subheader {
            font-size: 21px;
            line-height: 26px;
            max-width: 700px;
            display: block;
            margin: 0 auto;
        }
    }
}

/*.carousel-inner img {
    width: 100%;
    max-height: 460px
}*/

.carousel-control {
    .fa-chevron-left, 
    .fa-chevron-right, 
    .icon-prev, 
    .icon-next {
        position: absolute;
        top: 45%;
        z-index: 5;
        display: inline-block;
    }

    .fa-chevron-left,
    .icon-prev {
        left: 15px;
        opacity: 1;
    }

    .fa-chevron-right,
    .icon-next {
        right: 15px;
        opacity: 1;
    }
}

// two-up grid located on Events page -- Custom Styling

.hero-wrapper-grid {
    @include breakpoint(screen-lg) { margin-bottom: 1.25em; }
    @include breakpoint(screen-md) { margin-bottom: 1.25em; }
    @include breakpoint(screen-sm) { margin-bottom: 1.25em; }
    @include breakpoint(screen-xs) { margin-bottom: 1.25em; }

    .h-textarea .h-textarea-inner {
        top: 225px !important;

        @include breakpoint(screen-lg) { top: 150px; }
        @include breakpoint(screen-md) { top: 150px; }
        @include breakpoint(screen-sm) { top: 150px; }
        @include breakpoint(screen-xs) { top: 150px; }
    
    }
}


.hero-box {
    padding: 2.5em;
    background-color: $umd_red;
    max-width: 500px;
    margin: 0 auto;
    display: block;

    .hero-box-inner {
        border-top: 1px solid $umd_yellow;
        border-bottom: 1px solid $umd_yellow;

        h5 {
            border-top: 1px solid $umd_yellow;
            padding-top: 10px;
            margin-top: 3px;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            letter-spacing: 1.5px;
            border-bottom: 1px solid $umd_yellow;
            padding-bottom: 10px;
        }

        h1 {
            font-size: 26px;
            line-height: 30px;
            font-weight: bold;
            letter-spacing: 1.5px;
            border-bottom: 1px solid $umd_yellow;
            padding-bottom: 0.67em;
            margin-bottom: 3px;

        }
    }
}


.video-preview {
    position: absolute;
    bottom: 55px;
    margin-left: 25px;

    a {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color: white !important;
        padding-bottom: 10px;
    }
}







