.header-bg {
    &.navbar {
        background-color: #000 !important;
    }
    
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent !important;

    @include media-breakpoint-down(md) {background-color: #000 !important;}

    .nav-link {
        padding: 0 1em !important;
        color: #fff !important;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 0 0 3px #000;
    }

    .navbar-nav-right {
        margin-right: 0 !important;
        position: absolute;
        right: 15px;

        @include media-breakpoint-down(md) {
            position: relative;

            a {
                text-align: left;
                line-height: 32px;
            }
        }
    }
    .navbar-brand {
        max-width: 150px;
    }
    .contact-btn {
        color: #fff;
        background-color: transparent;
        padding: 0.5em 1.5em !important;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        // border: 1px solid $umd_lightgray;
        letter-spacing: 1px;
        display: inline-block;

        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding: 0.5rem 0 !important;
            border: none;
        }

        &:hover, &:focus {
            color: #fff;
            // background-color: $umd_red !important;
            // border: 1px solid $umd_red;
        }
    }
    .give-btn {
        color: #fff;
        background-color: $umd_red;
        padding: 0.5em 1.5em !important;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid $umd_red;
        letter-spacing: 1px;
        display: inline-block;

        &:hover, &:focus {
            color: #fff;
            background-color: $umd_dkred !important;
            border-color: $umd_dkred;
        }

        @include media-breakpoint-down(md) {
            background-color: transparent;
            padding: 0.5rem 0 !important;
            border: none;

            &:hover, &:focus {
                background-color: transparent !important;
            }
        }
    }
    .navbar-right {
        @include media-breakpoint-down(md) {
            margin-top: 0.5em;
            padding-top: 0.5em;
            border-top: 1px solid #e1e1e1;
        }
    }
}

















