<!DOCTYPE html>
<html lang="en" class="no-js">
    
    {% include head.html %}

<body>
    {% include header.html %}
    {% include hero-banner.html %}
    <main>
        <div class="container white-bg spaces section clearfix">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h2 class="bold">Quantum at Maryland</h2>
                    <p>UMD is a hub for quantum research and development. Here, over 200 quantum scientists and engineers are exploiting the peculiarities of quantum physics to usher in a new age of technology: quantum computers capable of currently impossible calculations, ultra-secure quantum networking and exotic new quantum materials. </p>
                </div>
                <div class="col-md-12 med-spaces">
                    <img src="{{ site.baseurl }}/img/campus-scene.jpg" alt="helicopter view of main campus at night">
                </div>
                <div class="col-md-10 offset-md-1">
                    <p>Propelled by research partnerships with the National Institute of Standards and Technology, UMD is home to an expansive quantum research enterprise. UMD’s quantum portfolio includes world-class research institutes, international collaborations, government partnerships and industry connections.</p>
                </div>
            </div>
        </div>
        <div class="container white-bg stats no-pad-all mb-5">
            <div class="container-fluid no-pad-all">
                <div class="row row-eq-height">
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>#2</span>
                            <p>among public institutions in quantum physics<br>—<br>(2019 U.S. News & World Report’s Best Graduate Schools)</p>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>30+</span>
                            <p>Years of quantum research at UMD</p>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>1</span>
                            <p>Faculty Nobel laureate in quantum physics<br>—<br>William Phillips</p>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>200+</span>
                            <p>Researchers, one of the greatest concentrations in the world</p>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>100+</span>
                            <p>Graduates in 10 years with PhDs in physics with a quantum science focus</p>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad-all">
                        <div class="stats-inner">
                            <span>200+</span>
                            <p>Publications per year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-wrapper half-size">
            <div id="hero" class="header-banner overlay dark" style="background-image:url('{{ site.baseurl }}/img/science.jpg');" role="img" aria-label="website hero banner image"></div>
        </div>

        <div class="white-bg clearfix">
            <div class="container white-bg spaces section clearfix">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="bold">The Quantum Promise</h2>
                        <p>UMD's quantum research combines physics, computer science, engineering and materials science, resulting in applications with the power to change the world. Maryland stands at the forefront in a range of vital technologies of the future:</p>
                    </div>
                </div>
            </div>
            <div class="container spaces no-pad-top clearfix">
                <div class="row row-eq-height">
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Computing</b><hr /> Quantum computers leverage counterintuitive features of quantum physics to execute certain tasks faster than current supercomputers. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Crytography</b><hr /> Quantum technology could enable new security measures for everything from communication to personal health records to national secrets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Materials</b><hr /> Completely new exotic materials may improve current devices and open the door to technologies not yet envisioned.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Networks</b><hr /> Scientists are building optical networks to send and receive quantum information over distances large and small.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Machine Learning</b><hr /> Quantum physics could supercharge traditional machine learning. On the flip side, machine learning might help scientists understand quantum phenomena.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Systems Research</b><hr /> Developing advanced quantum systems can open up new avenues of discovery and spark unexpected applications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Sensors</b><hr /> Quantum systems have an inherent instability that can be harnessed to detect subtle environmental changes, leading to better measurement tools.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img class="w-50 center mb-3" src="{{ site.base }}/img/icons/computing.gif" alt=" ">
                                <p><b class="center">Software</b><hr /> Scientists are developing quantum-specific programs that will run on quantum computers and searching for new applications for these revolutionary machines.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-bg">
            <div class="container white-bg spaces section">
                <div class="row">
                </div>
            </div>
        </div>


    </main>

    {% include footer.html %}

</body>
</html>
